# Dependencies
/node_modules
/client/node_modules/
/client/dist/
/client/.vscode/
# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Database related files
*.db
*.sqlite
*.sqlite3
db.json
database/
migrations/
seeds/
*.sql
dump.sql
db_plan.txt